@{
    ViewBag.Title = "ViewSnaps";
}
@using WebApplication2.Models
@model List<DateTime>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@{
        @*foreach (var ledger in @Model)
        {
            <dt>ledger.Time</dt>
            <dd>ledger.LedgerId</dd>
        }*@
    for (var index = 0; index < @Model.Count; index++)
    {
        DateTime dateTime = @Model[index];
        <dt>Snapshot # @index</dt>
        <dd>@Model[index].ToString()</dd>
    }
}